@media screen and (max width: 800px)
html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

header {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  min-height: 75px;
}
header-img {
  margin: auto;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 300px;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#headliner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px;

}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#how-it-works, iframe {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px, solid, #000;
  border-radius: 3px;
  margin: 10px;
}

footer {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}