html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #eee;
}


li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#filter-icon-color {
  filter: invert(48%) sepia(92%) saturate(750%) hue-rotate(360deg) brightness(103%) contrast(103%);
}

#how-it-works, iframe {
  margin: 50px;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}